* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_2 {
  width: 428px;
  height: 926px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v7_68 {
  width: 559px;
  height: 1218px;
  background: url("../images/v7_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 132px;
  overflow: hidden;
}
.v7_66 {
  width: 100%;
  height: 216px;
  background: rgba(218,66,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 214px;
  border: 0px solid rgba(0,0,0,1);
}
.v7_65 {
  width: 431px;
  height: 115px;
  background: rgba(219,70,102,1);
  opacity: 1;
  position: absolute;
  top: 843px;
  left: 560px;
  border: 0px solid rgba(0,0,0,1);
}
.v7_23 {
  width: 428px;
  height: 115px;
  background: rgba(239,70,107,1);
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 132px;
  border: 0px solid rgba(0,0,0,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v7_49 {
  width: 310px;
  height: 282px;
  background: url("../images/v7_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 520px;
  left: 59px;
  overflow: hidden;
}
.v7_50 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Urbanist;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v7_51 {
  width: 310px;
  height: 44px;
  background: rgba(0,159,245,1);
  opacity: 1;
  position: absolute;
  top: 203px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v7_56 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 41px;
  left: 0px;
  font-family: Urbanist;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v7_57 {
  width: 310px;
  color: url("../images/v7_57.png");
  position: absolute;
  top: 258px;
  left: 0px;
  font-family: Urbanist;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v7_58 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 215px;
  left: 73px;
  font-family: Urbanist;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v7_59 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 23px;
  overflow: hidden;
}
.v7_60 {
  width: 19px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v7_82 {
  width: 310px;
  height: 44px;
  background: url("../images/v7_82.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 0px;
  overflow: hidden;
}
.v7_52 {
  width: 310px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v7_54 {
  width: 102px;
  color: rgba(37,37,37,1);
  position: absolute;
  top: 12px;
  left: 73px;
  font-family: Urbanist;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v7_81 {
  width: 24px;
  height: 24px;
  background: url("../images/v7_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 23px;
  overflow: hidden;
}
.v7_76 {
  width: 24px;
  height: 24px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_80 {
  width: 20px;
  height: 16px;
  background: rgba(28,27,31,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v7_75 {
  width: 310px;
  height: 44px;
  background: url("../images/v7_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 0px;
  overflow: hidden;
}
.v7_53 {
  width: 310px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v7_55 {
  width: 107px;
  color: rgba(37,37,37,1);
  position: absolute;
  top: 12px;
  left: 73px;
  font-family: Urbanist;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v7_74 {
  width: 24px;
  height: 24px;
  background: url("../images/v7_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 23px;
  overflow: hidden;
}
.v7_69 {
  width: 24px;
  height: 24px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_73 {
  width: 18px;
  height: 18px;
  background: rgba(28,27,31,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
}
.v7_365 {
  width: 265px;
  height: 250px;
  background: url("../images/v7_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 81px;
  overflow: hidden;
}
.v7_84 {
  width: 265px;
  height: 153px;
  background: url("../images/v7_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 0px;
  overflow: hidden;
}
.v7_85 {
  width: 265px;
  height: 153px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_86 {
  width: 53px;
  height: 55px;
  background: url("../images/v7_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 82px;
  overflow: hidden;
}
.v7_87 {
  width: 23px;
  height: 37px;
  background: url("../images/v7_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v7_88 {
  width: 23px;
  height: 37px;
  background: url("../images/v7_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_89 {
  width: 20px;
  height: 11px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1px;
}
.v7_90 {
  width: 18px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v7_91 {
  width: 22px;
  height: 37px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_92 {
  width: 0px;
  height: 20px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 20px;
}
.v7_93 {
  width: 23px;
  height: 13px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_94 {
  width: 0px;
  height: 24px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
}
.v7_95 {
  width: 16px;
  height: 20px;
  background: url("../images/v7_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 3px;
  overflow: hidden;
}
.v7_96 {
  width: 16px;
  height: 20px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_97 {
  width: 2px;
  height: 3px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v7_98 {
  width: 23px;
  height: 37px;
  background: url("../images/v7_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 29px;
  overflow: hidden;
}
.v7_99 {
  width: 23px;
  height: 37px;
  background: url("../images/v7_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_100 {
  width: 20px;
  height: 11px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1px;
}
.v7_101 {
  width: 18px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 2px;
}
.v7_102 {
  width: 22px;
  height: 37px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_103 {
  width: 0px;
  height: 20px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 20px;
}
.v7_104 {
  width: 23px;
  height: 13px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_105 {
  width: 0px;
  height: 24px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
}
.v7_106 {
  width: 16px;
  height: 20px;
  background: url("../images/v7_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 3px;
  overflow: hidden;
}
.v7_107 {
  width: 16px;
  height: 20px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_108 {
  width: 2px;
  height: 3px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v7_109 {
  width: 43px;
  height: 116px;
  background: url("../images/v7_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 214px;
  overflow: hidden;
}
.v7_110 {
  width: 43px;
  height: 116px;
  background: url("../images/v7_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_111 {
  width: 43px;
  height: 116px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_112 {
  width: 41px;
  height: 114px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v7_113 {
  width: 36px;
  height: 108px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
}
.v7_114 {
  width: 36px;
  height: 22px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 2px;
}
.v7_115 {
  width: 34px;
  height: 105px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
}
.v7_116 {
  width: 2px;
  height: 97px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 19px;
}
.v7_117 {
  width: 2px;
  height: 94px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 21px;
}
.v7_118 {
  width: 17px;
  height: 12px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 2px;
}
.v7_119 {
  width: 17px;
  height: 11px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 2px;
}
.v7_120 {
  width: 17px;
  height: 12px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 21px;
}
.v7_121 {
  width: 17px;
  height: 11px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 21px;
}
.v7_122 {
  width: 17px;
  height: 12px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 2px;
}
.v7_123 {
  width: 17px;
  height: 11px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 2px;
}
.v7_124 {
  width: 17px;
  height: 12px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 21px;
}
.v7_125 {
  width: 17px;
  height: 11px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 21px;
}
.v7_126 {
  width: 246px;
  height: 120px;
  background: url("../images/v7_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 7px;
  overflow: hidden;
}
.v7_127 {
  width: 39px;
  height: 22px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 0px;
}
.v7_128 {
  width: 201px;
  height: 116px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v7_129 {
  width: 79px;
  height: 44px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 94px;
}
.v7_130 {
  width: 62px;
  height: 36px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 183px;
}
.v7_131 {
  width: 184px;
  height: 211px;
  background: url("../images/v7_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 19px;
  overflow: hidden;
}
.v7_132 {
  width: 184px;
  height: 211px;
  background: url("../images/v7_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_133 {
  width: 178px;
  height: 208px;
  background: url("../images/v7_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_134 {
  width: 176px;
  height: 157px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 0px;
}
.v7_135 {
  width: 176px;
  height: 157px;
  background: rgba(255,255,255,1);
  opacity: 0.3499999940395355;
  position: absolute;
  top: 51px;
  left: 0px;
}
.v7_136 {
  width: 163px;
  height: 136px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 1px;
}
.v7_137 {
  width: 163px;
  height: 136px;
  background: rgba(0,0,0,1);
  opacity: 0.15000000596046448;
  position: absolute;
  top: 52px;
  left: 1px;
}
.v7_138 {
  width: 175px;
  height: 101px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 105px;
  left: 1px;
}
.v7_139 {
  width: 165px;
  height: 208px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 13px;
}
.v7_140 {
  width: 165px;
  height: 208px;
  background: rgba(255,255,255,1);
  opacity: 0.3499999940395355;
  position: absolute;
  top: 0px;
  left: 13px;
}
.v7_141 {
  width: 168px;
  height: 210px;
  background: url("../images/v7_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 15px;
  overflow: hidden;
}
.v7_142 {
  width: 149px;
  height: 85px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_143 {
  width: 23px;
  height: 126px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 0px;
}
.v7_144 {
  width: 165px;
  height: 208px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v7_145 {
  width: 144px;
  height: 192px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
}
.v7_146 {
  width: 141px;
  height: 189px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 13px;
}
.v7_147 {
  width: 2px;
  height: 3px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 17px;
}
.v7_148 {
  width: 4px;
  height: 21px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 13px;
}
.v7_149 {
  width: 126px;
  height: 79px;
  background: url("../images/v7_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 28px;
  overflow: hidden;
}
.v7_150 {
  width: 126px;
  height: 79px;
  background: rgba(56,135,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_151 {
  width: 1px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 114px;
}
.v7_152 {
  width: 1px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 117px;
}
.v7_153 {
  width: 1px;
  height: 2px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 120px;
}
.v7_154 {
  width: 69px;
  height: 89px;
  background: url("../images/v7_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 83px;
  overflow: hidden;
}
.v7_155 {
  width: 69px;
  height: 89px;
  background: url("../images/v7_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_156 {
  width: 65px;
  height: 87px;
  background: url("../images/v7_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_157 {
  width: 65px;
  height: 87px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_158 {
  width: 59px;
  height: 88px;
  background: rgba(56,135,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v7_159 {
  background: url("../images/v7_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v7_160 {
  width: 59px;
  height: 33px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_161 {
  width: 65px;
  height: 87px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v7_162 {
  width: 65px;
  height: 87px;
  background: url("../images/v7_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.699999988079071;
  position: absolute;
  top: 1px;
  left: 3px;
  overflow: hidden;
}
.v7_163 {
  width: 65px;
  height: 87px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_164 {
  width: 9px;
  height: 55px;
  background: rgba(56,135,255,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 1px;
}
.v7_165 {
  width: 9px;
  height: 55px;
  background: rgba(0,0,0,1);
  opacity: 0.15000000596046448;
  position: absolute;
  top: 34px;
  left: 1px;
}
.v7_166 {
  width: 65px;
  height: 87px;
  background: rgba(56,135,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v7_167 {
  width: 4px;
  height: 7px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 20px;
}
.v7_168 {
  width: 1px;
  height: 7px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 25px;
}
.v7_169 {
  width: 5px;
  height: 7px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 27px;
}
.v7_170 {
  width: 5px;
  height: 8px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 32px;
}
.v7_171 {
  width: 1px;
  height: 7px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 40px;
}
.v7_172 {
  width: 5px;
  height: 8px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 42px;
}
.v7_173 {
  width: 2px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 26px;
}
.v7_174 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 28px;
}
.v7_175 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 30px;
}
.v7_176 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 31px;
}
.v7_177 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 33px;
}
.v7_178 {
  width: 1px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 35px;
}
.v7_179 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 38px;
}
.v7_180 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 39px;
}
.v7_181 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 41px;
}
.v7_182 {
  width: 2px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 43px;
}
.v7_183 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 45px;
}
.v7_184 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 47px;
}
.v7_185 {
  width: 1px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 49px;
}
.v7_186 {
  width: 2px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 30px;
}
.v7_187 {
  width: 0px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 32px;
}
.v7_188 {
  width: 1px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 33px;
}
.v7_189 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 35px;
}
.v7_190 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 37px;
}
.v7_191 {
  width: 1px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 39px;
}
.v7_192 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 42px;
}
.v7_193 {
  width: 1px;
  height: 2px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 44px;
}
.v7_194 {
  width: 2px;
  height: 3px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 46px;
}
.v7_195 {
  width: 51px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 9px;
}
.v7_196 {
  width: 2px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 11px;
}
.v7_197 {
  width: 1px;
  height: 1px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 51px;
  left: 14px;
}
.v7_198 {
  width: 3px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 15px;
}
.v7_199 {
  width: 1px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 19px;
}
.v7_200 {
  width: 0px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 20px;
}
.v7_201 {
  width: 0px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 21px;
}
.v7_202 {
  width: 51px;
  height: 35px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 11px;
}
.v7_203 {
  width: 2px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 13px;
}
.v7_204 {
  width: 1px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 15px;
}
.v7_205 {
  width: 1px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 17px;
}
.v7_206 {
  width: 1px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 19px;
}
.v7_207 {
  width: 2px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 21px;
}
.v7_208 {
  width: 1px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 24px;
}
.v7_209 {
  width: 1px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 26px;
}
.v7_210 {
  width: 1px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 27px;
}
.v7_211 {
  width: 4px;
  height: 3px;
  background: url("../images/v7_211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 56px;
  overflow: hidden;
}
.v7_212 {
  width: 4px;
  height: 3px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_213 {
  width: 2px;
  height: 2px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v7_214 {
  width: 109px;
  height: 75px;
  background: url("../images/v7_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 51px;
  overflow: hidden;
}
.v7_215 {
  width: 106px;
  height: 73px;
  background: url("../images/v7_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_216 {
  width: 106px;
  height: 73px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_217 {
  width: 106px;
  height: 72px;
  background: url("../images/v7_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  overflow: hidden;
}
.v7_218 {
  width: 106px;
  height: 72px;
  background: rgba(56,135,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_219 {
  width: 6px;
  height: 13px;
  background: rgba(0,0,0,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 58px;
  left: 0px;
}
.v7_220 {
  width: 104px;
  height: 59px;
  background: url("../images/v7_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_221 {
  width: 104px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_222 {
  width: 102px;
  height: 70px;
  background: rgba(56,135,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
}
.v7_223 {
  width: 4px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 48px;
}
.v7_224 {
  width: 3px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 52px;
}
.v7_225 {
  width: 3px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 56px;
}
.v7_226 {
  width: 1px;
  height: 6px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 60px;
}
.v7_227 {
  width: 3px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 63px;
}
.v7_228 {
  width: 37px;
  height: 60px;
  background: url("../images/v7_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 47px;
  overflow: hidden;
}
.v7_229 {
  width: 37px;
  height: 38px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
}
.v7_230 {
  width: 35px;
  height: 36px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 2px;
}
.v7_231 {
  width: 22px;
  height: 25px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v7_232 {
  width: 20px;
  height: 24px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
}
.v7_233 {
  width: 46px;
  height: 59px;
  background: url("../images/v7_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 170px;
  left: 3px;
  overflow: hidden;
}
.v7_234 {
  width: 46px;
  height: 59px;
  background: url("../images/v7_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_235 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_235.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 5px;
  overflow: hidden;
}
.v7_236 {
  width: 31px;
  height: 20px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1px;
}
.v7_237 {
  width: 31px;
  height: 20px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1px;
}
.v7_238 {
  width: 35px;
  height: 20px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_239 {
  width: 34px;
  height: 14px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
}
.v7_240 {
  width: 29px;
  height: 16px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v7_241 {
  width: 27px;
  height: 13px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v7_242 {
  width: 9px;
  height: 26px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 22px;
}
.v7_243 {
  width: 9px;
  height: 26px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 4px;
  left: 22px;
}
.v7_244 {
  width: 9px;
  height: 16px;
  background: rgba(234,58,96,1);
  opacity: 0.5;
  position: absolute;
  top: 7px;
  left: 22px;
}
.v7_245 {
  width: 9px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 13px;
  left: 22px;
}
.v7_246 {
  width: 11px;
  height: 34px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 13px;
}
.v7_247 {
  width: 11px;
  height: 34px;
  background: rgba(0,0,0,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 0px;
  left: 13px;
}
.v7_248 {
  width: 11px;
  height: 21px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 13px;
}
.v7_249 {
  width: 11px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 11px;
  left: 13px;
}
.v7_250 {
  width: 22px;
  height: 23px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 0px;
}
.v7_251 {
  width: 22px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 14px;
  left: 0px;
}
.v7_252 {
  width: 17px;
  height: 19px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
}
.v7_253 {
  width: 14px;
  height: 19px;
  background: rgba(0,0,0,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 18px;
  left: 7px;
}
.v7_254 {
  width: 14px;
  height: 27px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
}
.v7_255 {
  width: 14px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 13px;
  left: 8px;
}
.v7_256 {
  width: 6px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 0.15000000596046448;
  position: absolute;
  top: 20px;
  left: 17px;
}
.v7_257 {
  width: 22px;
  height: 23px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 24px;
}
.v7_258 {
  width: 22px;
  height: 23px;
  background: rgba(0,0,0,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 14px;
  left: 24px;
}
.v7_259 {
  width: 17px;
  height: 19px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 28px;
}
.v7_260 {
  width: 14px;
  height: 19px;
  background: rgba(0,0,0,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 18px;
  left: 24px;
}
.v7_261 {
  width: 14px;
  height: 27px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 23px;
}
.v7_262 {
  width: 14px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 13px;
  left: 23px;
}
.v7_263 {
  width: 6px;
  height: 17px;
  background: rgba(0,0,0,1);
  opacity: 0.15000000596046448;
  position: absolute;
  top: 20px;
  left: 23px;
}
.v7_264 {
  width: 10px;
  height: 23px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 18px;
}
.v7_265 {
  width: 10px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 15px;
  left: 18px;
}
.v7_266 {
  width: 10px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 18px;
  left: 18px;
}
.v7_267 {
  width: 73px;
  height: 42px;
  background: url("../images/v7_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 106px;
  overflow: hidden;
}
.v7_268 {
  width: 73px;
  height: 42px;
  background: url("../images/v7_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_269 {
  width: 73px;
  height: 39px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v7_270 {
  width: 73px;
  height: 39px;
  background: rgba(0,0,0,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 2px;
  left: 0px;
}
.v7_271 {
  width: 72px;
  height: 39px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_272 {
  width: 72px;
  height: 39px;
  background: rgba(255,255,255,1);
  opacity: 0.30000001192092896;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_273 {
  width: 47px;
  height: 19px;
  background: url("../images/v7_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.20000000298023224;
  position: absolute;
  top: 2px;
  left: 25px;
  overflow: hidden;
}
.v7_274 {
  width: 38px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
}
.v7_275 {
  width: 47px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
}
.v7_276 {
  width: 35px;
  height: 18px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 35px;
}
.v7_277 {
  width: 14px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 22px;
  left: 45px;
}
.v7_278 {
  width: 5px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 25px;
  left: 33px;
}
.v7_279 {
  width: 0px;
  height: 6px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 27px;
  left: 29px;
}
.v7_280 {
  width: 4px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 32px;
  left: 22px;
}
.v7_281 {
  width: 11px;
  height: 2px;
  background: rgba(0,0,0,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 39px;
  left: 3px;
}
.v7_282 {
  width: 3px;
  height: 4px;
  background: rgba(0,0,0,1);
  opacity: 0.15000000596046448;
  position: absolute;
  top: 37px;
  left: 0px;
}
.v7_283 {
  width: 0px;
  height: 1px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 1px;
}
.v7_284 {
  width: 0px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 0.30000001192092896;
  position: absolute;
  top: 38px;
  left: 1px;
}
.v7_285 {
  width: 36px;
  height: 21px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1px;
}
.v7_286 {
  width: 0px;
  height: 1px;
  background: rgba(0,0,0,1);
  opacity: 0.15000000596046448;
  position: absolute;
  top: 17px;
  left: 36px;
}
.v7_287 {
  width: 66px;
  height: 174px;
  background: url("../images/v7_287.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 183px;
  overflow: hidden;
}
.v7_288 {
  width: 66px;
  height: 174px;
  background: url("../images/v7_288.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_289 {
  width: 51px;
  height: 105px;
  background: url("../images/v7_289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 12px;
  overflow: hidden;
}
.v7_290 {
  width: 10px;
  height: 17px;
  background: rgba(200,133,106,1);
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 12px;
}
.v7_291 {
  width: 10px;
  height: 19px;
  background: rgba(200,133,106,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 37px;
}
.v7_292 {
  width: 21px;
  height: 9px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 0px;
}
.v7_293 {
  width: 21px;
  height: 16px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
}
.v7_294 {
  width: 14px;
  height: 7px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
}
.v7_295 {
  width: 14px;
  height: 11px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 7px;
}
.v7_296 {
  width: 4px;
  height: 2px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 3px;
}
.v7_297 {
  width: 4px;
  height: 2px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 5px;
}
.v7_298 {
  width: 4px;
  height: 2px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 7px;
}
.v7_299 {
  width: 4px;
  height: 2px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 9px;
}
.v7_300 {
  width: 5px;
  height: 2px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 10px;
}
.v7_301 {
  width: 9px;
  height: 9px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 41px;
}
.v7_302 {
  width: 10px;
  height: 23px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 40px;
}
.v7_303 {
  width: 9px;
  height: 10px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 41px;
}
.v7_304 {
  width: 1px;
  height: 16px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 48px;
}
.v7_305 {
  width: 3px;
  height: 15px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 40px;
}
.v7_306 {
  width: 5px;
  height: 1px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 43px;
}
.v7_307 {
  width: 6px;
  height: 1px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 43px;
}
.v7_308 {
  width: 7px;
  height: 1px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 91px;
  left: 42px;
}
.v7_309 {
  width: 6px;
  height: 1px;
  background: rgba(240,240,240,1);
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 42px;
}
.v7_310 {
  width: 7px;
  height: 1px;
  background: rgba(235,235,235,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 42px;
}
.v7_311 {
  width: 38px;
  height: 79px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
}
.v7_312 {
  width: 2px;
  height: 48px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 12px;
}
.v7_313 {
  width: 9px;
  height: 54px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
}
.v7_314 {
  width: 10px;
  height: 33px;
  background: rgba(55,71,79,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 16px;
}
.v7_315 {
  width: 66px;
  height: 75px;
  background: url("../images/v7_315.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_316 {
  width: 53px;
  height: 75px;
  background: url("../images/v7_316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v7_317 {
  width: 25px;
  height: 28px;
  background: rgba(200,133,106,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 0px;
}
.v7_318 {
  width: 12px;
  height: 20px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 13px;
}
.v7_319 {
  width: 34px;
  height: 47px;
  background: url("../images/v7_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 19px;
  overflow: hidden;
}
.v7_320 {
  width: 34px;
  height: 47px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_321 {
  width: 34px;
  height: 47px;
  background: rgba(224,224,224,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_322 {
  width: 23px;
  height: 32px;
  background: url("../images/v7_322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 23px;
  overflow: hidden;
}
.v7_323 {
  width: 22px;
  height: 24px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_324 {
  width: 21px;
  height: 25px;
  background: rgba(247,169,160,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 1px;
}
.v7_325 {
  width: 7px;
  height: 3px;
  background: rgba(244,157,147,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 8px;
}
.v7_326 {
  width: 2px;
  height: 1px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 11px;
}
.v7_327 {
  width: 2px;
  height: 1px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 3px;
}
.v7_328 {
  width: 1px;
  height: 1px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 10px;
}
.v7_329 {
  width: 1px;
  height: 1px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 3px;
}
.v7_330 {
  width: 3px;
  height: 5px;
  background: rgba(244,157,147,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 4px;
}
.v7_331 {
  width: 3px;
  height: 2px;
  background: rgba(175,97,82,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 7px;
}
.v7_332 {
  width: 1px;
  height: 1px;
  background: rgba(242,143,143,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 9px;
}
.v7_333 {
  width: 27px;
  height: 28px;
  background: url("../images/v7_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 0px;
  overflow: hidden;
}
.v7_334 {
  width: 27px;
  height: 28px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_335 {
  width: 27px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 0.699999988079071;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_336 {
  width: 5px;
  height: 19px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 22px;
}
.v7_337 {
  width: 26px;
  height: 28px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_338 {
  width: 26px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 0.4000000059604645;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_339 {
  width: 2px;
  height: 4px;
  background: rgba(69,90,100,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 19px;
}
.v7_340 {
  width: 1px;
  height: 1px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 20px;
}
.v7_341 {
  width: 1px;
  height: 1px;
  background: rgba(38,50,56,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
}
.v7_342 {
  width: 8px;
  height: 10px;
  background: rgba(247,169,160,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
}
.v7_343 {
  width: 4px;
  height: 1px;
  background: rgba(175,97,82,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 2px;
}
.v7_344 {
  width: 5px;
  height: 1px;
  background: rgba(175,97,82,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 2px;
}
.v7_345 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 31px;
  overflow: hidden;
}
.v7_346 {
  width: 35px;
  height: 35px;
  background: url("../images/v7_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_347 {
  width: 8px;
  height: 6px;
  background: rgba(244,157,147,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
}
.v7_348 {
  width: 34px;
  height: 35px;
  background: rgba(247,169,160,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_349 {
  width: 3px;
  height: 0px;
  background: rgba(175,97,82,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 3px;
}
.v7_350 {
  width: 3px;
  height: 0px;
  background: rgba(175,97,82,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 1px;
}
.v7_351 {
  width: 3px;
  height: 1px;
  background: rgba(175,97,82,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1px;
}
.v7_352 {
  width: 5px;
  height: 5px;
  background: rgba(244,157,147,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 24px;
}
.v7_353 {
  width: 13px;
  height: 22px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 51px;
}
.v7_354 {
  width: 44px;
  height: 71px;
  background: url("../images/v7_354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 23px;
  overflow: hidden;
}
.v7_355 {
  width: 44px;
  height: 71px;
  background: url("../images/v7_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_356 {
  width: 44px;
  height: 71px;
  background: url("../images/v7_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v7_357 {
  width: 13px;
  height: 17px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 17px;
}
.v7_358 {
  width: 13px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: absolute;
  top: 53px;
  left: 17px;
}
.v7_359 {
  width: 44px;
  height: 71px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_360 {
  width: 44px;
  height: 71px;
  background: rgba(255,255,255,1);
  opacity: 0.20000000298023224;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_361 {
  width: 39px;
  height: 68px;
  background: rgba(234,58,96,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
}
.v7_362 {
  width: 39px;
  height: 68px;
  background: rgba(255,255,255,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 2px;
  left: 4px;
}
.v7_363 {
  width: 44px;
  height: 25px;
  background: rgba(255,255,255,1);
  opacity: 0.699999988079071;
  position: relative;
  top: 0px;
  left: 0px;
}
.v7_364 {
  width: 17px;
  height: 37px;
  background: rgba(249,249,249,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 16px;
}
